<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Students</h1>
    <table cellpadding="3" border="1" style="width: 100%; border-collapse: collapse;" >
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th colspan="3">Action</th>
        </tr>

    {% for stu in students %}
    <tr>
        <td>{{stu.id}}</td>
        <td>{{stu.stu_name}}</td>
        <td>{{stu.stu_age}}</td>
        <td>{{stu.stu_email}}</td>
        <td>{{stu.stu_phone}}</td>
        <td>{{stu.stu_address}}</td>
        <td><a href="{{url_for('student.students_details',id=stu.id)}}"><button>Read</button></a></td>
        <td><a href=""><button>Delete</button></a></td>
        <td><a href=""><button>Update</button></a></td>
    </tr>
    {% endfor %}
      </table>
</body>
</html>

select * from student where id=1