<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><H1>This is Student Details</H1></center>
    
    <center>
        <div>
    {{student.id}}
    <br>
    {{student.stu_name}}
    <br>
    {{student.stu_age}}
    <br>
    {{student.stu_email}}
    <br>
    {{student.stu_phone}}
    <br>
    {{student.stu_address}}
    </div>
    </center>


    
</body>
</html>